body{
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.font{
    padding-top: 15%;
    font-size: 50px;
}
h2{
    padding-top: 25%;
}
.flexible-container{
    display: flex;
    background-color: white;
}


/*-------navbar-------*/
.nav {
    background-color: #EBF8FF;
    display: flex;
    justify-content:center;
}
.nav a {
    text-decoration: none;
    padding: 40px;
    color: black;
}
.nav a:hover {
    background-color: white;
}
/*-------navbar-------*/


#gap{
    padding-bottom: 100px;
}
.space{
    padding-bottom: 30px;
}
.half-width{
    width: 40%;
    height: auto;
    float:left;
    margin-left: 5%;
    padding: 5%; 
}
.half-width img{
    width: 100%;
}
.acnhorbutton{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}
.intro{
    background-image: url("image/Frame577.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    background-image: url("image/Frame57.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.recipies{
    margin-top: 50px;
    text-align-last: center;
}
.extra{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}


/*-----third section------*/
.recipie-item{
    float: left;
    margin: 5%;
    padding: 1%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5%;
 }
.description{
    text-align: center;
    padding: 20px;
}
.food{
    border:white 1px solid; 
    border-radius: 5%;
}
.food img{
    border-radius: 5%;
    width: 100%;
    height: auto;
}


/*-----4thsection------*/
#flexbox {
    width: 100%;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5% 10%;
    box-shadow: 10px 10px 30px gray;
    border:white 1px solid; 
    border-radius: 5%;
    column-count: 3;
    column-gap: 10%;
  }
  

/*-----footer start-----*/
footer{
    text-align: center;
    bottom: 0;
}
.footer-align{
    background-color: #0B0D17;
    width: 100%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    box-sizing: border-box;
    text-align: center;
    color:#4e525f;
}
#white{
    color: white;
    font-size: 13px;
}
.orange{
    color: #f39426;
}

