body{
    color: black;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    text-align: justify;
    padding-top: 20px;
    padding-right: 50px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    padding-top: 30px;
    width: 100%;
}
.space{
    padding-bottom: 30px;
}
.acnhorbutton{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}
.first-section{
    background-image: url("image/Frame57.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.second-section{
    background-image: url("image/Frame56.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.third-section{
    margin-bottom: 80px;
    text-align-last: center;
}


/*-----third section------*/
.recipie-item{
    width: 20%;
    margin: 3%;
    padding: 5%;
    border:white 7px solid;
    border-radius: 10%;
    box-shadow: 10px 10px 40px gray;
 }
 .align img{
    width: 100%;
    float:left;
    margin-left: 5%;
    padding-left: 5%;
 }
.prepare{
    padding-top: 100px;
}



/*-----footer start-----*/
footer{
    text-align: center;
    bottom: 0;
}
.footer-align{
    background-color: #0B0D17;
    width: 100%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    box-sizing: border-box;
    text-align: center;
    color:#4e525f;
}
#white{
    color: white;
    padding-left: 20%;
    font-size: 13px;
}
.orange{
    color: #f39426;
}

