body{
    color: black;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    padding-top: 15%;
}
.flexible-container{
    display: flex;
    background-color: white;
}
.half-width{
    width: 40%;
    height: auto;
    float:left;
    margin-left: 5%;
    padding: 5%; 
}
.half-width img{
    width: 100%;
}
.space{
    padding-bottom: 30px;
}
.acnhorbutton{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}
.first-section{
    background-image: url("image/Frame57.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.second-section{
    background-image: url("image/Frame577.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.third-section{
    margin-top: 50px;
    text-align-last: center;
}
.fourth-section{
    margin-top: 50px;
    text-align-last: center;
    margin-bottom: 50px;
}

/*-----third section------*/

.recipie-item{
    float: left;
    margin: 5%;
    padding: 1%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5%;
 }
.description{
    text-align: center;
    padding: 20px;
}
.food{
    border:white 1px solid; 
    border-radius: 5%;
}
.food img{
    border-radius: 5%;
    width: 100%;
    height: auto;
}

/*-----4thsection------*/

#flexbox {
    width: 100%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5%;
    column-count: 3;
    column-gap: 100px;
    background-color: white;
    box-sizing: border-box;
  }
  
/*-----footer start-----*/
footer{
    text-align: center;
    bottom: 0;
}
.footer-align{
    background-color: #0B0D17;
    width: 100%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    box-sizing: border-box;
    text-align: center;
    color:#4e525f;
}
#white{
    color: white;
    padding-left: 20%;
    font-size: 13px;
}
.orange{
    color: #f39426;
}

